@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap');
:root {
    --color1 : #b1caff;
    --color2 : #feecff;
    --color3 : #161934;
    --color4 : #77767c;
    --color5 : #e2e2e2;
    --color6 : #afafaf7a;
}

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tektur', cursive;
}

/*<---------------HEADER--------------->  */



/*<---------------BANNER--------------->  */


/*<---------------CONTENT--------------->  */




/*<---------------DATA FORM--------------->*/



/*<---------------FOOTER--------------->*/

