:root {
    --color1 : #b1caff;
    --color2 : #feecff;
    --color3 : #161934;
    --color4 : #77767c;
    --color5 : #e2e2e2;
    --color6 : #afafaf7a;
}

.container-login{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login__content{
    /* border: 1px solid red; */
    height: 380px;
    width: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--color6);
    justify-content: center;
    box-shadow: 0 9px 9px -6px rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
}

.container-login__content-title{
    font-size: 2.2rem;
    padding-bottom: 30px;
    color: var(--color3);
    padding-top: 20px;
}
.container-login__content-input{
    width: 80%;
    height: 4rem;
    border-radius: .2rem;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    box-shadow: 0 9px 9px -6px rgba(0, 0, 0, 0.4);

    /* background-color: var(--color2); */
}
.container-login__content-input:focus{
    outline: none;
}
.data-from__button{
    cursor: pointer;
    border-radius: .1rem;
    background-color: rgb(67, 85, 189);
    box-shadow: 0 9px 9px -6px rgba(0, 0, 0, 0.4);

}

@media (min-width: 650px) {
    .container-login__content{
        /* border: 1px solid red; */
        height: 430px;
        width: 465px;
    }
    .container-login__content-input{
        width: 90%;
    
        /* background-color: var(--color2); */
    }
}
@media (min-width: 1100px){
    .container-login__content{
        /* border: 1px solid red; */
        height: 480px;
        width: 505px;
    }
    .container-login__content-input{
        width: 90%;
    
        /* background-color: var(--color2); */
    }
}