@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap');
:root {
    --color1 : #b1caff;
    --color2 : #feecff;
    --color3 : #161934;
    --color4 : #77767c;
    --color5 : #e2e2e2;
    --color6 : #afafaf7a;
}

.container-main{
    position: relative;
    overflow: hidden;
}

.container-main__banner-img{
    width: 150%;
    height: auto;
    display: block;
}
.container-main_info{
    /* border: 1px solid red; */
    height: 70%;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.container-main .container-main_info{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-60%, -50%);
    text-align: start;
    color: #fff;
}

.container-main__title{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.container-main__text{
    font-size: .5em;
    margin-bottom: 1em;
    display: none;
}

.container-main__botton{
    padding: 6px 20px;
    background-color: #333;
    color: var(--color2);
    background-color: var(--color4);
    font-size: .7em;
    border: none;
    cursor: pointer;
    height: 40px;
}

@media (min-width: 650px) {
    .container-main__banner-img{
        width: 100%;
        display: block;
    }
    .container-main__text{
        font-size: 1.5em;
        margin-bottom: 1em;
        display: block;
    }
    .container-main_info{
        /* border: 1px solid red; */
        height: 70%;
        width: 80%;
    }

    .container-main .container-main_info{
        position: absolute;
        top: 50%;
        left: 50%;
    }
    
    .container-main__title{
        font-size: 3em;
        margin-bottom: 0.5em;
    }
    
    .container-main__botton{
        font-size: 1rem;
    }
    .container-main_info{
        /* border: 1px solid red; */
        height: 70%;
        box-sizing: border-box;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .container-main__botton{
        padding: 6px 20px;
        background-color: #333;
        color: var(--color2);
        background-color: var(--color4);
        font-size: 1rem;
        border: none;
        cursor: pointer;
        height: 98%;
    }
}